pipeline/cpy_onprem_adls.json
{
	"name": "cpy_onprem_adls",
	"properties": {
		"activities": [
			{
				"name": "onpremtbls",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select s.name as schemaName, t.name as tblName\nfrom sys.tables t\njoin sys.schemas s on t.schema_id = s.schema_id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onprem_sqlserver",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "onpremtbls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('onpremtbls').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy tbls to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprem_table",
									"type": "DatasetReference",
									"parameters": {
										"onpremTblName": {
											"value": "@item().tblName",
											"type": "Expression"
										},
										"onpremSchemaName": {
											"value": "@item().schemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_file_name",
									"type": "DatasetReference",
									"parameters": {
										"ds_schema_name": {
											"value": "@item().schemaName",
											"type": "Expression"
										},
										"ds_table_name": {
											"value": "@item().tblName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"test": {
				"type": "String",
				"defaultValue": "a"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-23T21:29:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}